/* mobile  */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background: black;
  font-family: 'Nunito', sans-serif;
}

.board {
  width: 85vw;
  height: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px white solid;
  border-radius: 5%;
}

/* tablet */
@media only screen and (min-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: 'Nunito', sans-serif;
  }
  
  .board {
    width: 70vw;
    height:70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px white solid;
    border-radius: 5%;
  }
}

/* desktop */
@media only screen and (min-width: 1025px) {
  .App {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: 'Nunito', sans-serif;
  }
  
  .board {
    width: 45vw;
    height: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    margin: 3rem;
    border: 1px white solid;
    border-radius: 5%;
  }
}